body{
  background-color: lightblue;
  color: #333; /* Dark gray or black text color */
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #f0f0f0;
  padding: 10px;
  font-family: "Roboto", sans-serif;
}

nav {
  background-color: #f0f0f0; 
  padding: 10px;
  font-family: 'Courier New', Courier, monospace;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

nav ul li {
  margin-right: 20px;
}

main {
  text-align: center;
  padding: 20px;
}

img {
  margin-top: 15px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.footer-info {
  flex-basis: 25%;
  text-align: center;
}

.footer-links {
  text-align: center;
  margin-top: 20px;
}

footer {
  background-color: #f0f0f0; 
  color: #333;
  font-family: 'Courier New', Courier, monospace;
  padding: 20px;
  margin-top: 20px;
}

footer p {
  text-align: center;
}

 /* CSS styles for the table */
 table,
 td,
 th {
   border: 1px solid rgb(192, 128, 64);
 }
 
 table {
   margin: 1rem;
   background-color: #f0f0f0;
 }
 
 td,
 th {
   padding: 1rem;
   color: black;
 }
 
 th {
   font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
 }
 
 tfoot {
   background-color: rgba(192, 128, 64, 0.2);
 }
 
 /* Form styles */
#form {
  margin-bottom: 20px;
  max-width: 400px;
  padding: 20px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: Arial, Helvetica, sans-serif;
}

#form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #333;
}

#form input[type="text"],
#form input[type="number"],
#form textarea {
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s ease;
}

#form input[type="text"]:focus,
#form input[type="number"]:focus,
#form textarea:focus {
  border-color: #4CAF50;
}

#form textarea {
  resize: vertical;
}

#form input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#form input[type="submit"]:hover {
  background-color: #45a049;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}
